[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = git@github.com:jethac/flashinfer.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = git@github.com:jethac/vllm.git
[submodule "third_party/sglang"]
	path = third_party/sglang
	url = git@github.com:jethac/sglang.git
[submodule "third_party/vllm-flash-attention"]
	path = third_party/vllm-flash-attention
	url = git@github.com:jethac/flash-attention.git
	branch = spark/hijinks-021-fa2-sm121a
